$backgroundColor: #ecf;

header {
  background: scale-color($backgroundColor, $lightness: -80%);
  border-bottom: 4px solid #986785;
  color: #B8CB9A;
  padding: 0;
  margin: 0;
  text-align: center;
}
